<div>
    <label for="{{ field.id_for_label }}" class="block text-sm/6 font-medium text-gray-900">{{ field.label }}</label>
    <div class="mt-2 grid grid-cols-1">
      <input
        type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id }}" {% if field.field.disabled %}disabled{% endif %}
        class="block w-full rounded-md bg-white px-3 py-1.5 text-base outline-1 -outline-offset-1 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 sm:text-sm/6 
        {% if field.errors %} 
          col-start-1 row-start-1 pr-10 pl-3 text-red-900 outline-red-300 placeholder:text-red-300 focus:outline-red-600 sm:pr-9 
          {% else %} text-gray-900 outline-gray-300 focus:outline-primary/70 disabled:cursor-not-allowed disabled:bg-gray-50 disabled:text-gray-500 disabled:outline-gray-200 
        {% endif %}" 
        placeholder="{{ field.placeholder }}"
        value="{{ field.value|default_if_none:'' }}"
        {% if field.field.required %} required {% endif %}
        {{ attrs }}
      >
      {% if field.errors %} 
      <svg class="pointer-events-none col-start-1 row-start-1 mr-3 size-5 self-center justify-self-end text-red-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14ZM8 4a.75.75 0 0 1 .75.75v3a.75.75 0 0 1-1.5 0v-3A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
      </svg>
      {% endif %}
    </div>
    {% if field.errors %} 
      <div class="mt-2">
        {% for error in field.errors %} 
          <p class="text-sm text-red-600" id="{{ field.id_for_label }}-error">{{ error }}</p>
        {% endfor %}
      </div>
    {% endif %}
</div>