<c-layout.default>
  <c-section>
    <c-section.header class="sm:flex sm:items-center">
      <c-slot name="title" class="sm:flex-auto space-y-2">
        <c-heading>Team Members</c-heading>
        <c-subheading>A list of all the team members in your account including their name, title, email and role.</c-subheading>
      </c-slot>
      <c-slot name="actions">
        <c-button as="a" href="{% url 'team_member_add' %}" 
        up-follow up-method='get' 
        up-layer="new" 
        up-mode="drawer"
        up-position="right"
        up-size="large"
        up-on-dismissed="up.reload('.team-list', { focus: ':main' })" 
        
        >
        Add user</c-button>
      </c-slot>
    </c-section.header>
    <div class="mt-8 flow-root team-list">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pr-3 pl-4 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Title</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Email</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Role</th>
                <th scope="col" class="relative py-3.5 pr-4 pl-3 sm:pr-0">
                  <span class="sr-only">Edit</span>
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
              {% for member in object_list %}
              <tr>
                <td class="py-4 pr-3 pl-4 text-sm font-medium whitespace-nowrap text-on-surface/80 hover:text-on-surface sm:pl-0">
                  <a  href="{% url 'team_member_detail' pk=member.pk %}"
                      up-layer="new"
                      up-mode="drawer"
                      up-position="right"
                      up-size="large"
                  >
                    {{ member.full_name }}
                  </a>
                </td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">{{ member.title }}</td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">{{ member.email }}</td>
                <td class="px-3 py-4 text-sm whitespace-nowrap text-gray-500">Member</td>
                <td class="relative py-4 pr-4 pl-3 text-right text-sm font-medium whitespace-nowrap sm:pr-0">
                  <a href="{% url 'team_member_edit' pk=member.pk %}"
                      up-layer="new"
                      up-mode="drawer"
                      up-position="right"
                      up-size="large"
                      up-on-dismissed="up.reload('.team-list', { focus: ':main' })"
                    class="text-on-surface/70 hover:text-on-surface">Edit<span class="sr-only">, {{ member.full_name }}</span></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </c-section>
  
</c-layout.default>
