@import "tailwindcss";

@source "/app/src/**/*.html";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button,
  [role='button'] {
    cursor: pointer;
  }
  button:disabled,
  [role='button']:disabled {
    cursor: default;
  }
}

@theme {
  /* light theme */
  --color-surface: var(--color-white);
  --color-surface-alt: var(--color-zinc-100);
  --color-on-surface: var(--color-zinc-600);
  --color-on-surface-strong: var(--color-zinc-900);
  --color-primary: var(--color-black);
  --color-on-primary: var(--color-zinc-100);
  --color-secondary: var(--color-zinc-800);
  --color-on-secondary: var(--color-white);
  --color-outline: var(--color-zinc-300);
  --color-outline-strong: var(--color-zinc-600);

  /* dark theme */
  --color-surface-dark: var(--color-zinc-950);
  --color-surface-dark-alt: var(--color-zinc-800);
  --color-on-surface-dark: var(--color-zinc-400);
  --color-on-surface-dark-strong: var(--color-zinc-100);
  --color-primary-dark: var(--color-white);
  --color-on-primary-dark: var(--color-black);
  --color-secondary-dark: var(--color-zinc-300);
  --color-on-secondary-dark: var(--color-black);
  --color-outline-dark: var(--color-zinc-700);
  --color-outline-dark-strong: var(--color-zinc-300);

  /* shared colors */
  --color-info: var(--color-sky-500);
  --color-on-info: var(--color-white);
  --color-success: var(--color-green-500);
  --color-on-success: var(--color-slate-900);
  --color-warning: var(--color-amber-300);
  --color-on-warning: var(--color-amber-900);
  --color-danger: var(--color-red-500);
  --color-on-danger: var(--color-white);

  /* border radius */
  --radius-radius: var(--radius-sm);
} 


up-modal-box {
    @apply shadow-lg rounded-md;
  }

up-modal-viewport {
    @apply fixed !top-1/2 !left-1/2 !-translate-x-1/2 !-translate-y-1/2 !m-0
           sm:w-[500px]
           max-sm:w-full max-sm:max-h-[90vh]
           max-sm:overflow-y-auto
           lg:rounded
           
  }

up-modal-backdrop {
    @apply fixed !inset-0 !bg-black/40;
}

.btn-spinner {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  position: relative;
  margin-top: -0.15em;
}

.btn-spinner:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border: 2px solid rgba(255, 255, 255, 1.0);
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.dark .btn-spinner:after {
  border-color: rgba(0, 0, 0, 1.0);
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

button:has(.btn-spinner) {
  text-align: center;
}


[x-cloak] {
  display: none !important;
}
